@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700;1,800&family=Righteous&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body{
    background: rgb(169, 166, 166);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    max-width: 300px;
    height: 350px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 15%;
    background: #fff;
    box-shadow: 0px 5px 15px 0px rgb(28, 0, 181, 0.3);
    border-radius: 20px;
    
}

a,li{
    text-decoration: none;
    list-style: none;
}
.login-form form{
    width: 100%;
    height: 100%;
}
.titulo{
    width: 100%;
    display: flex;
    align-items: center;
}
.titulo h1{
    margin-left: 25%;
    font-size: 32px;
    font-weight: 700;
}
form label{
    margin-left: 2px;
    padding: 4px 0;
}
form p {
    padding: 10px;
}
form p input{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    padding-left: 1px;
}
form p .submit{
    width: 270px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    
}